@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(300deg, #52ACFF, #80D0C7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Kalam', cursive;
  color: #222222;
}

footer {
  margin: 15px 10px;
  padding: 25px 25px;
}

hr {
  border: 1.5px solid;
  border-radius: 10px;
}

.nav {
  font-size: large;
  justify-content: center;
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s, 3s, 5s;
}

.mynavbar {
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}

.mynavbar button {
  width: 8rem;
}

.nav-link {
  color: #3244a0;
}

.active {
  color: #0b224d;
  text-decoration: underline;
  font-weight: 700;
}

.nav-link:hover,
.active:hover {
  color: #0b224d;
  text-decoration: underline;
  font-weight: 700;
}

.heading {
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.login-wrapper {
  width: 70%;
  height: auto;
  padding: 20px 20px;
  margin: 5% auto 20% auto;
  justify-content: center;
  background: whitesmoke;
  border: 2px solid #222222;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #222222;
}

.login {
  margin: 28% auto 50% auto;
}

.main-section {
  width: 50%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.main-categories {
  width: 25%;
  margin: auto;
  justify-content: center;
}

.category-list {
  width: 30%;
  margin: auto;
  margin: 15px 15px;
  padding: 10px 10px;
}

.monthly-main {
  margin-top: 10px;
  width: 100%;
}

.expense {
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  margin: 15px 10px;
  padding: 25px 25px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.expense h2 {
  color: #d14f4f;
}

.dashboard-expense-value {
  color: #d14f4f;
}

.transactions {
  width: 50%;
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  margin: 15px 10px;
  padding: 20px 20px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.income {
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  margin: 15px 10px;
  padding: 30px 30px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.saving {
  width: 50%;
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  margin: 15px 10px;
  padding: 20px 20px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.saving h2 {
  color: #23a51f;
}

.dashboard-saving-value {
  color: #23a51f;
}

.expense-list {
  width: 60%;
  background-image: linear-gradient(90deg, #fdc630ad, #feb47b);
  margin: 15px 10px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #1b1327;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.expense-list h2 {
  color: #d14f4f;
}

.total {
  font-size: larger;
  text-align: left;
  font-weight: 700;
  border-top: 1px solid #1b1327;
  border-bottom: 0px;
}

.total-value {
  text-align: center;
}

.total-card h3 {
  color: #d14f4f;
}

.success {
  font-weight: 700;
  color: #16a044;
  transition: 0.5s ease-in-out all;
  transition-duration: 1s;
}

.recurring-switch {
  width: 30%;
  margin: auto;
  justify-content: center;
  font-size: larger;
}

.filters {
  width: 50%;
  margin: auto;
  padding: 10px 10px;
  justify-content: center;
  background-color: rgb(220,220,220, 0.75);
  border: 1px solid #222222;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#filterbutton {
  background-color: #4158D0;
  color: #FFF8E7;
}

.total-card-wrapper{
  width: 45%;
  margin: auto;
  padding: 10px 10px;
  justify-content: space-around;
}

.total-card {
  text-align: center;
  margin: 10px 10px;
  padding: 20px 20px;
  background-color: rgb(220,220,220, 0.75);
  border: 1px solid #222222;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.months-wrapper {
  margin: auto;
}

.dashboard-month-wrapper {
  background-image: linear-gradient(62deg, #FBAB7E, #F7CE68);
  width: 30%;
  margin: 10px auto 20px auto;
  padding: 15px 15px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.dashboard-month-wrapper h2 {
  text-align: center;
  color: #2e3038;
}

.categories-wrapper {
  width: 50%;
  margin: auto;
}

.category-list {
  width: 75%;
  background-image: linear-gradient(180deg, #fdc630ad, #feb47b);
  margin: 10px auto 10px auto;
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #1b1327;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  justify-content: space-around;
}

.recurringpayment-wrapper {
  background-color: #3d73b475;
  width: 30%;
  margin: 10px auto 20px auto;
  padding: 15px 15px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.recurringpayment-wrapper-income {
  background-color: #126188;
  color: #1a181d;
  width: 30%;
  margin: 10px auto 20px auto;
  padding: 15px 15px;
  border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 5em 1em 5em / 2em 1em 2em 1em;
  border: 2px solid #1b1327;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.recurringpayment-category {
  color: #1a181dbd;
}

.recurringpayment-counter {
  color: #FFF8E7;
}

/* For big screens */
@media(min-width: 1500px) {
  .filters {
    width: 50%;
    justify-content: space-evenly;
  }
}

/* For small screens */
@media(max-width: 990px) {
  body {
    font-size: small;
  }

  .nav {
    font-size: medium;
    display: block;
    text-align: center;
    justify-content: center;
  }

  .nav-link {
    margin: 7px;
    padding: 0px;
  }

  .mynavbar {
    width: 100%;
    font-size: small;
    text-align: right;
    justify-content: end;
  }

  .mynavbar button {
    justify-content: end;
  }

  .total {
    font-size: medium;
  }

  .main-section {
    width: 100%;
  }

  .expense-list {
    width: 80%;
  }

  .heading {
    width: 90%;
  }

  .login-wrapper {
    width: 90%;
  }

  .login {
    margin-top: 50%;
    margin-bottom: 75%;
  }

  .filters {
    width: 100%;
    padding: 10px 10px;
    justify-content: space-around;
  }

  #SearchBar {
    justify-content: flex;
    padding: 0px 0px;
  }

  .filters button {
    font-size: 14px;
  }

  .filter-col {
    margin-top: 10px;
  }

  .total-card-wrapper{
    width: 100%;
    justify-content: space-around;
  }
  
  .total-card {
    text-align: center;
    padding: 10px 10px;
  }

  .total-card h3 {
    font-size: medium;
  }

  .table {
    width: 100%;
  }

  .total {
    display: none;
  }

  .table-hidden-onsmall {
    display: none;
  }

  .transactions {
    width: 85%;
  }

  .income {
    width: 100%;
  }

  .expense {
    width: 95%;
  }

  .saving {
    width: 85%;
  }

  .dashboard-month-wrapper {
    width: 95%;
  }

  .recurringpayment-wrapper-income {
    width: 90%;
  }

  .recurringpayment-wrapper {
    width: 90%;
  }

  .recurring-switch {
    width: 70%;
    font-size: larger;
  }

  .main-categories {
    width: 95%;
  }

  .main-categories button {
    font-size: small;
  }
  
  .category-list {
    width: 90%;
  }
}